$base-font-size: 1rem;
$xs: 767px;

html {
  --color-white: #fff;
  --primary-color: #a3c5f8;
  --light-gray-color: #f0f2f3;
  --light-gray-color-2: #b6b5b6;
  --light-gray-color-3: #ececec;
  --black-color: black;
  --gray-color: gray;
}
